.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

# End of https://www.toptal.com/developers/gitignore/api/jupyternotebooks

# TP3
*/Sistema500x500/*
*/Sistema1000x1000/*
*/Sistema2000x2000/*
*/Sistema10000x10000/*
